# copy this file to .env and fill out the values
# as today the TMDB_TOKEN is not used
# you only need a token for a Provider you want to use
# supported are GEMINI, OPENROUTER, OPENAI and OLLAMA
GEMINI_API_KEY="<yourtoken>"
TMDB_TOKEN= "<yourtoken>"
OPENAI_API_KEY="<yourtoken>"
OPENROUTER_API_KEY="<yourtoken>"
OLLAMA_API_KEY="anystring"