TMDB_TOKEN=<tmdbtoken>
OPENAI_API_KEY=<openai_api_key>
GEMINI_API_KEY=<gemini_api_key>
OPENROUTER_API_KEY=<openrout_api_key>
OLLAMA_API_KEY=irgendwas

# Set to true to redirect logging to stdout (recommended for Docker)
# Set to false to log to data/app.log (default for local execution)
LOG_TO_STDOUT=false
